<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ExtentReports" parallel="tests" thread-count="2">
    <test name="on chrome browser">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="Tests.TestCase01"/>
        </classes>
    </test>
    <test name="on firefox browser">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="Tests.TestCase01"/>
        </classes>
    </test>

</suite>